In the machine learning operations most often our model get under-fitting and over-fitting. But why it happends. 
Basically, when we have few features on a dataset and the score is poor for both traning and testing set then the problem is under-fitting. 

And on the other hand, when we have large number of features on the dataset and the score is poor for both traning and testing set then the problem is over-fitting. 

Okay, In simple word, Ridge and Lasso are the same and simple technique to reduce the model complexity and prevent model from overfitting which may result from simple linear regression.

### Regularisation: Generally it has 3 types 
1. L1 regularisation ( Lasso)
2. L2 regularisation (Ridge)
3. L1/L2 regularisation (Elasticc net)

In [1]:
import pandas as pd 
import numpy as np 

import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns 

from sklearn.model_selection import train_test_split 

from sklearn.linear_model import Lasso, LogisticRegression
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import StandardScaler

In [2]:
# In here we use a large dataset with 133 features and 114321 records
data = pd.read_csv('./Data/paribas_claims_train.csv')
data.shape

(114321, 133)

In [3]:
data.head()

,ID,target,v1,v2,v3,v4,v5,v6,v7,v8,...,v122,v123,v124,v125,v126,v127,v128,v129,v130,v131
0,3,1,1.335739,8.727474,C,3.921026,7.915266,2.599278,3.176895,0.012941,...,8.000000,1.989780,0.035754,AU,1.804126,3.113719,2.024285,0,0.636365,2.857144
1,4,1,NaN,NaN,C,NaN,9.191265,NaN,NaN,2.301630,...,NaN,NaN,0.598896,AF,NaN,NaN,1.957825,0,NaN,NaN
2,5,1,0.943877,5.310079,C,4.410969,5.326159,3.979592,3.928571,0.019645,...,9.333333,2.477596,0.013452,AE,1.773709,3.922193,1.120468,2,0.883118,1.176472
3,6,1,0.797415,8.304757,C,4.225930,11.627438,2.097700,1.987549,0.171947,...,7.018256,1.812795,0.002267,CJ,1.415230,2.954381,1.990847,1,1.677108,1.034483
4,8,1,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Z,NaN,NaN,NaN,0,NaN,NaN

In [4]:
# Lets take down only numerical variable 
# After removing all categorical features total numerical features is 114

numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numerical_val = list(data.select_dtypes(include=numerics).columns)
data = data[numerical_val]
data.shape

(114321, 114)

In [5]:
# Now seperate Train and Test sets 

X_train, X_test, y_train, y_test = train_test_split(
                                data.drop(labels=['target', 'ID'], axis=1),
                                data['target'],
                                test_size=.3, random_state=0
                                )
X_train.shape, X_test.shape

((80024, 112), (34297, 112))

In [6]:
# Create linear model 
scaller = StandardScaler()
scaller.fit(X_train.fillna(0))

StandardScaler()

In [7]:
# select lasso l1 properly 

sel = SelectFromModel(LogisticRegression(C=1, penalty='l1', solver='liblinear'))
sel.fit(scaller.transform(X_train.fillna(0)), y_train)

SelectFromModel(estimator=LogisticRegression(C=1, penalty='l1',
                                             solver='liblinear'))

In [8]:
data.head()

,ID,target,v1,v2,v4,v5,v6,v7,v8,v9,...,v121,v122,v123,v124,v126,v127,v128,v129,v130,v131
0,3,1,1.335739,8.727474,3.921026,7.915266,2.599278,3.176895,0.012941,9.999999,...,0.803572,8.000000,1.989780,0.035754,1.804126,3.113719,2.024285,0,0.636365,2.857144
1,4,1,NaN,NaN,NaN,9.191265,NaN,NaN,2.301630,NaN,...,NaN,NaN,NaN,0.598896,NaN,NaN,1.957825,0,NaN,NaN
2,5,1,0.943877,5.310079,4.410969,5.326159,3.979592,3.928571,0.019645,12.666667,...,2.238806,9.333333,2.477596,0.013452,1.773709,3.922193,1.120468,2,0.883118,1.176472
3,6,1,0.797415,8.304757,4.225930,11.627438,2.097700,1.987549,0.171947,8.965516,...,1.956521,7.018256,1.812795,0.002267,1.415230,2.954381,1.990847,1,1.677108,1.034483
4,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN

In [9]:
# Lets take down only numerical variable 
# After removing all categorical features total numerical features is 114

numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numerical_val = list(data.select_dtypes(include=numerics).columns)
data = data[numerical_val]
data.shape

(114321, 114)

In [10]:
# Now seperate Train and Test sets 

X_train, X_test, y_train, y_test = train_test_split(
                                data.drop(labels=['target', 'ID'], axis=1),
                                data['target'],
                                test_size=.3, random_state=0)
X_train.shape, X_test.shape

((80024, 112), (34297, 112))

In [11]:
# Create linear model 
scaller = StandardScaler()
scaller.fit(X_train.fillna(0))

StandardScaler()

In [15]:
# select lasso l1 properly 

sel = SelectFromModel(LogisticRegression(C=1, penalty='l1', solver='liblinear'))
sel.fit(scaller.transform(X_train.fillna(0)), y_train)

SelectFromModel(estimator=LogisticRegression(C=1, penalty='l1',
                                             solver='liblinear'))

In [16]:
# Okay lets visualize those features what we keep 
sel.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True, False,
       False, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True, False,  True,  True, False,  True, False,
        True, False,  True, False, False,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True, False, False,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True, False,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [25]:
# Now, make a list with selected featires 

selected_features = X_train.columns[(sel.get_support())]

print('Total Features    = ', format(X_train.shape[1]))
print('Selected Features = ', format(len(selected_features)))

coeffieient = format(np.sum(sel.estimator_.coef_ == 0))
print('Features with coefficients shrank to zero =',coeffieient)

Total Features    =  112
Selected Features =  90
Features with coefficients shrank to zero = 22

In [28]:
# Now find the thoese features (22) which we are going to remove

removed_features = X_train.columns[(sel.estimator_.coef_ == 0).ravel().tolist()]
removed_features

Index(['v17', 'v20', 'v33', 'v41', 'v42', 'v43', 'v48', 'v53', 'v57', 'v60',
       'v62', 'v64', 'v67', 'v68', 'v77', 'v83', 'v84', 'v94', 'v97', 'v104',
       'v106', 'v115'],
      dtype='object')

In [31]:
# Now we have to remove the features from training and testing set 
# After removing 22 features we have 90 features remain both train and test set

X_train_selected = sel.transform(X_train.fillna(0))
X_test_selected = sel.transform(X_test.fillna(0))
  
X_train_selected.shape, X_test_selected.shape

((80024, 90), (34297, 90))

## L2 regularisation dose not shrink coefficient to zero

In [50]:
# Now seperate Train and Test sets 

X_train, X_test, y_train, y_test = train_test_split(
                                data.drop(labels=['target', 'ID'], axis=1),
                                data['target'],
                                test_size=.3, random_state=0)
X_train.shape, X_test.shape

((80024, 112), (34297, 112))

In [61]:
# Create linear model 
scaler = StandardScaler()
scaler.fit(X_train.fillna(0))

ridge = SelectFromModel(LogisticRegression(C=1, penalty='l2'))
ridge.fit(scaler.transform(X_train.fillna(0)), y_train)

d:\python code\env_3.8\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

SelectFromModel(estimator=LogisticRegression(C=1))

In [62]:
# Now, make a list with selected featires 

selected_features = X_train.columns[(ridge.get_support())]

print('Total Features    = ', format(X_train.shape[1]))
print('Selected Features = ', format(len(selected_features)))

coeffieient = format(np.sum(ridge.estimator_.coef_ == 0))
print('Features with coefficients shrank to zero =',coeffieient)

Total Features    =  112
Selected Features =  33
Features with coefficients shrank to zero = 0

In [63]:
selected_features

Index(['v8', 'v10', 'v11', 'v12', 'v14', 'v34', 'v35', 'v36', 'v38', 'v40',
       'v44', 'v45', 'v46', 'v50', 'v61', 'v62', 'v69', 'v70', 'v72', 'v73',
       'v76', 'v81', 'v82', 'v86', 'v89', 'v90', 'v93', 'v98', 'v111', 'v114',
       'v117', 'v121', 'v129'],
      dtype='object')